button,
input[type=submit] {
    appearance: button;
    backface-visibility: hidden;
    background-color: rgb(191, 13, 62);
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    width: 250px;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0 12px;
    padding: 0 25px;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

button:disabled,
input[type=submit]:disabled {
    cursor: default;
}

button:focus,
input[type=submit]:disabled {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

button:hover,
input[type=submit]:hover {
    background-color: rgb(210, 15, 70);
    border: 2px solid white;
    font-weight: 500;
}

.large-input {
    font-size: large;
    width: 80%;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

select {
    width: 200px;
    height: 40px;
    appearance: none;
    border: 2px solid grey;
    padding: 0 1em 0 0;
    margin: 12px;
    padding-left: 5px;
}

.select+label {
    margin-top: 2rem;
}


table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
    margin-bottom: 50px;
}

.stats-table table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.stats-table th {
    background-color: #041E42;
    color: white;
    font-weight: bold;
    border: 1px solid gray;
    cursor: pointer;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

.stats-table td {
    vertical-align: top;
    border-top: 1px solid #ccc;
    height: 23px;
    text-wrap: inherit;
    min-width: 25px;
}

.stats-table th,
.stats-table td {
    border: solid 1px #eaede3;
    font: 12px / 16px "segoe ui", arial, sans-serif;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.immaculate-grid-table table {
    border-collapse: collapse;
    width: 100%;
}

.immaculate-grid-table td,
.immaculate-grid-table th {
    width: 9rem;
    height: 9rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 5px solid #3b3b3b;
    padding: 8px;
}

.immaculate-grid-table th {
    border: 5px solid #ddd;
    font-size: x-large;
}

.immaculate-grid-table th.immaculate-table-top {
    border-top: 0;
}

.immaculate-grid-table th.immaculate-table-left {
    border-left: 0;
}

.immaculate-grid-table td {
    background-color: #041E42;
    color: white;
    font-size: large;
}