{% extends "teamContainer.html" %}

{% block teamData %}
<h1>Depth Chart - {{year}} Team {{ team.team_name }}</h1>

<!-- Dropdown to change stat -->
<form method="GET" action="/{{ teamId }}/depthChart">
    <label for="stat">Select Stat: </label>
    <select name="stat" id="stat" onchange="this.form.submit()">
        <option value="percentage" {% if stat=='percentage' %}selected{% endif %}>Time Percentage</option>
        <option value="PA" {% if stat=='PA' %}selected{% endif %}>Plate Appearances</option>
        <option value="wOBA" {% if stat=='wOBA' %}selected{% endif %}>wOBA</option>
    </select>
    <input type="hidden" name="year" value="{{ year }}">
</form>

{% for position, players in positions_stats.items() %}
<h3>Position: {{ position }}</h3>
{% if players %}
<ul>
    {% for player in players %}
    <li>{{ player.nameFirst }} {{ player.nameLast }} -
        {% if stat == 'percentage' %}
        {{ player.stat_value }}%
        {% elif stat == 'wOBA' %}
        {{ player.stat_value|round(3) }}
        {% else %}
        {{ player.stat_value }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No players found for this position.</p>
{% endif %}
{% endfor %}

<h2>Depth Chart Tables</h2>

<h3>Pitching</h3>


<table class="stats-table">
    <thead>
        <tr>
            <th> Name </th>
            <th> IP </th>
            <th> K/9 </th>
            <th> BB/9 </th>
            <th> HR/9 </th>
            <th> BABIP </th>
            <th> LOB% </th>
            <th> ERA </th>
            <th> FIP </th>
        </tr>
    </thead>
    <tbody>

        {% for player_id,pitcher in pitching_stats.items() %}
        <tr>
            <td> {{ pitcher.full_name }} </td>
            <td> {{ '%0.1f'| format(pitcher.IP) }} </td>
            <td> {{ '%0.1f'| format(pitcher.K9) }} </td>
            <td> {{ '%0.1f'| format(pitcher.BB9) }} </td>
            <td> {{ '%0.1f'| format(pitcher.HR9) }} </td>
            <td> {{ '%0.3f'| format(pitcher.BABIP) }} </td>
            <td> {{ '%0.1f'| format(pitcher.LOB * 100) }}% </td>
            <td> {{ '%0.2f'| format(pitcher.ERA) }} </td>
            <td> {{ '%0.2f'| format(pitcher.FIP) }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>* IP was approximated using IPOuts / 3</p>
{% endblock %}