{% extends "teamContainer.html" %}

{% block teamData %}
<h2>Overall Team Statistics</h2>

<h3>Season Statistics</h3>
<p>
    <br>
    {% if (team.DivWin=="Y") %}
    Division Winner
    <br>
    {% endif %}

    {% if (team.WCWin=="Y") %}
    Wild Card Winner
    <br>
    {% endif %}

    {% if (team.LGWin=="Y") %}
    League Champion
    <br>
    {% endif %}

    {% if (team.WSWin=="Y") %}
    World Series Winner
    <br>
    {% endif %}
</p>
<table>
    <tr>
        <td>Ranked:</td>
        <td>{{team.team_rank}}</td>
    </tr>
    <tr>
        <td> Games: </td>
        <td> {{team.team_G}} </td>
    </tr>
    <tr>
        <td>Home Games:</td>
        {% if team.team_G_home != None %}
        <td>{{team.team_G_home}}</td>
        {% else %}
        <td>Unknown</td>
        {% endif %}
    </tr>
    <tr>
        <td>Record (Wins/Losses):</td>
        <td>{{team.team_W}}/{{team.team_L}}</td>
    </tr>
    <tr>
        <td>Projected Record:</td>
        <td> {{team.team_projW }}/{{team.team_projL }} </td>
    </tr>
    <tr>
        <td>Park Name:</td>
        <td> {{team.park_name }} </td>

    </tr>

    <tr>
        <td> Attendance: </td>
        {% if team.team_attendance!=None %}
        <td> {{ "{:,d}".format(team.team_attendance)}} </td>
        {% else %}
        <td>Unknown</td>
        {% endif %}
    </tr>



</table>

<h3>Game Statistics</h3>
<table class="stats-table">
    <thead>
        <tr>
            <th> R </th>
            <th> AB </th>
            <th> H </th>
            <th> 2B </th>
            <th> 3B </th>
            <th> HR </th>
            <th> BB </th>
            <th> SO </th>
            <th> SB </th>
            <th> CS </th>
            <th> HBP </th>
            <th> SF </th>
            <th> RA </th>
            <th> ER </th>
            <th> ERA </th>
            <th> CG </th>
            <th> SHO </th>
            <th> SV </th>
            <th> IPouts </th>
            <th> HA </th>
            <th> HRA </th>
            <th> BBA </th>
            <th> SOA </th>
            <th> E </th>
            <th> DP </th>
            <th> FP </th>
            <th> BPF </th>
            <th> PPF </th>
        </tr>
    </thead>
    <tbody>

        <td> {{team.team_R }} </td>
        <td> {{team.team_AB }} </td>
        <td> {{team.team_H }} </td>
        <td> {{team.team_2B }} </td>
        <td> {{team.team_3B }} </td>
        <td> {{team.team_HR }} </td>
        <td> {{team.team_BB }} </td>
        <td> {{team.team_SO }} </td>
        <td> {{team.team_SB }} </td>
        <td> {{team.team_CS }} </td>
        <td> {{team.team_HBP }} </td>
        <td> {{team.team_SF }} </td>
        <td> {{team.team_RA }} </td>
        <td> {{team.team_ER }} </td>
        <td> {{team.team_ERA }} </td>
        <td> {{team.team_CG }} </td>
        <td> {{team.team_SHO }} </td>
        <td> {{team.team_SV }} </td>
        <td> {{team.team_IPouts }} </td>
        <td> {{team.team_HA }} </td>
        <td> {{team.team_HRA }} </td>
        <td> {{team.team_BBA }} </td>
        <td> {{team.team_SOA }} </td>
        <td> {{team.team_E }} </td>
        <td> {{team.team_DP }} </td>
        <td> {{team.team_FP }} </td>
        <td> {{team.team_BPF }} </td>
        <td> {{team.team_PPF }} </td>
    </tbody>
</table>

<h2>Player Batting Statistics for the {{ team.yearID }} {{team.team_name}} </h2>
<table class="stats-table">
    <thead>
        <tr>
            <th>Player Name</th>
            <th>Games Played (G)</th>
            <th>Plate Appearances (PS)</th>
            <th>Home Runs (HR)</th>
            <th>Stolen Bases (SB)</th>
            <th>Walk % (BB%)</th>
            <th>Strikeout % (K%)</th>
            <th>ISO</th>
            <th>BABIP</th>
            <th>AVG</th>
            <th>OBP</th>
            <th>SLG</th>
            <th>wOBA</th>
            <!--            <th>wRC+</th>-->
            <!--            <th>BsR</th>-->
            <!--            <th>Off</th>-->
            <!--            <th>Def</th>-->
            <th>WAR</th>
        </tr>
    </thead>
    <tbody>
        {% for player_id, stats in batting_data.items() %}
        <tr>
            <td>{{ stats.full_name }}</td>
            <td>{{ stats.G }}</td>
            <td>{{ stats["PA"] }}</td>
            <td>{{ stats["HR"] }}</td>
            <td>{{ stats["SB"] }}</td>
            <td>{{ '%0.2f'| format(stats["BB%"]*100) }}%</td>
            <td>{{ '%0.2f'| format(stats["K%"]*100) }}%</td>
            <td>{{ '%0.3f'| format(stats["ISO"]) }}</td>
            <td>{{ '%0.3f'| format(stats["BABIP"]) }}</td>
            <td>{{ '%0.3f'| format(stats["AVG"]) }}</td>
            <td>{{ '%0.3f'| format(stats["OBP"]) }}</td>
            <td>{{ '%0.3f'| format(stats["SLG"]) }}</td>
            <td>{{ '%0.3f'| format(stats["wOBA"]) }}</td>
            <!--            <td>{{ stats["wRC+"] }}</td>-->
            <!--            <td>{{ stats["BsR"] }}</td>-->
            <!--            <td>{{ stats["Off"] }}</td>-->
            <!--            <td>{{ stats["Def"] }}</td>-->
            <td>{{ '%0.1f'| format(stats["WAR"]) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Player Pitching Statistics for the {{ team.yearID }} {{team.team_name}} </h2>
<table class="stats-table">
    <thead>
        <tr>
            <th>Player Name</th>
            <th>Innings Pitched (IP)</th>
            <th>Strikeout % (K%)</th>
            <th>Walk % (BB%)</th>
            <th>HR/9</th>
            <th>BABIP</th>
            <th>LOB%</th>
            <th>ERA</th>
            <th>FIP</th>
        </tr>
    </thead>
    <tbody>
        {% for player_id, stats in pitching_data.items() %}
        <tr>
            <td>{{ stats.full_name }}</td>
            <td>{{ stats["IP"] }}</td>
            <td>{{ '%0.2f'| format(stats["K9"]) }}%</td>
            <td>{{ '%0.2f'| format(stats["BB9"]) }}%</td>
            <td>{{ '%0.3f'| format(stats["HR9"]) }}</td>
            <td>{{ '%0.3f'| format(stats["BABIP"]) }}</td>
            <td>{{ '%0.3f'| format(stats["LOB"] * 100) }}%</td>
            <td>{{ '%0.3f'| format(stats["ERA"]) }}</td>
            <td>{{ '%0.3f'| format(stats["FIP"]) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>{{ teamId }} Player Roster</h2>
<p>Year: {{ year }}</p>
{% endblock %}