<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Logs</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Admin Request Logs</h1>

    <div class="helpful-links">
        <p>Helpful Links:</p>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
                <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                <li><a href="{{ url_for('roster') }}">Roster</a></li>
                {% if current_user.is_admin %}
                    <li><a href="{{ url_for('admin_request_logs') }}">Admin Request Logs</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>

    <!-- Divider -->
    <hr>`



    <!-- Form to input user ID -->
    <form method="GET" action="/admin/request_logs">
        <label for="user_id">User ID:</label>
        <input type="text" id="user_id" name="user_id" required>
        <button type="submit">View Request Logs</button>
    </form>

    <!-- Check if user ID exists -->
    {% if user_id_exists %}
        <h2>User ID: {{ user_id }}</h2>
        <!-- Display the total number of requests -->
        <p>Total requests: {{ request_logs|length }}</p>


        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>Timestamp</th>
                    <th>Request Data</th>
                </tr>
            </thead>
            <tbody>
                {% for log in request_logs %}
                <tr>
                    <td>{{ log.id }}</td>
                    <td>{{ log.user_id }}</td>
                    <td>{{ log.timestamp }}</td>
                    <td><pre>{{ log.request_data }}</pre></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>User ID does not exist.</p>
    {% endif %}

</body>
</html>
