<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Details for {{ manager }} </h2>
<table style="width:100%">

<tr>
    <th>Team</th>
    <th>Year</th>
</tr>

    {% for row in record %}
        <tr>
        {% for item in row %}
            <td>
                {% if loop.index == 1 %}
                <a href="{{ url_for("teams", year=row[1], teamName=item) }}">
                    {{ item }}</a>
                {% else %}
                    {{ item }}
                {% endif %}
            </td>
        {% endfor %}
        </tr>
    {%  endfor %}
</table>
</body>
{% endblock %}
</html>