<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
            overflow-x: auto; /* Enable horizontal scrolling */
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <script>
        function toggleStats() {
            var simpleStats = document.getElementById('simpleStats');
            var detailedStats = document.getElementById('detailedStats');

            if (simpleStats.style.display === 'block') {
                simpleStats.style.display = 'none';
                detailedStats.style.display = 'block';
            } else {
                simpleStats.style.display = 'block';
                detailedStats.style.display = 'none';
            }
        }
    </script>
</head>

<body>
<div>
    Helpful Links:
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
    <a href="{{ url_for('login') }}">Login</a>
</div>
    <h1>Team Stats</h1>
    <button onclick="toggleStats()">Toggle Advanced Stats</button>
    <div id="simpleStats" style="display: block">
        <table>
            <tr>
                <th>Team Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Home Runs</th>
            </tr>
            {% for team in team %}
            <tr>
                <td>{{ team.team_name }}</td>
                <td>{{ team.team_W }}</td>
                <td>{{ team.team_L }}</td>
                <td>{{ team.team_HR }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="detailedStats" style="display: none;">
        <table>
        <tr>
            <th>Team Name</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Runs Scored</th>
            <th>Home Runs</th>
            <th>Walks</th>
            <th>Strikeouts</th>
            <th>At Bats</th>
            <th>Hits</th>
            <th>Doubles</th>
            <th>Triples</th>
            <th>Home Runs</th>
            <th>Walks</th>
            <th>Strikeouts</th>
            <th>Stolen Bases</th>
            <th>Caught Stealing</th>
            <th>Hit by Pitch</th>
            <th>Sacrifice Flies</th>
            <th>Runs Allowed</th>
            <th>Earned Runs</th>
            <th>ERA</th>
            <th>Complete Games</th>
            <th>Shutouts</th>
            <th>Saves</th>
            <th>IP Outs</th>
            <th>Hits Allowed</th>
            <th>Home Runs Allowed</th>
            <th>Walks Allowed</th>
            <th>Strikeouts by Pitchers</th>
            <th>Errors</th>
            <th>Double Plays</th>
            <th>Fielding Percentage</th>
            <th>Attendance</th>
            <th>Park BPF</th>
            <th>Park PPF</th>
            <th>Projected Wins</th>
            <th>Projected Losses</th>
        </tr>
        {% for team in team %}
        <tr>
            <td>{{ team.team_name }}</td>
            <td>{{ team.team_W }}</td>
            <td>{{ team.team_L }}</td>
            <td>{{ team.team_R }}</td>
            <td>{{ team.team_HR }}</td>
            <td>{{ team.team_BB }}</td>
            <td>{{ team.team_SO }}</td>
            <td>{{ team.team_AB }}</td>
            <td>{{ team.team_H }}</td>
            <td>{{ team.team_2B }}</td>
            <td>{{ team.team_3B }}</td>
            <td>{{ team.team_HR }}</td>
            <td>{{ team.team_BB }}</td>
            <td>{{ team.team_SO }}</td>
            <td>{{ team.team_SB }}</td>
            <td>{{ team.team_CS }}</td>
            <td>{{ team.team_HBP }}</td>
            <td>{{ team.team_SF }}</td>
            <td>{{ team.team_RA }}</td>
            <td>{{ team.team_ER }}</td>
            <td>{{ team.team_ERA }}</td>
            <td>{{ team.team_CG }}</td>
            <td>{{ team.team_SHO }}</td>
            <td>{{ team.team_SV }}</td>
            <td>{{ team.team_IPouts }}</td>
            <td>{{ team.team_HA }}</td>
            <td>{{ team.team_HRA }}</td>
            <td>{{ team.team_BBA }}</td>
            <td>{{ team.team_SOA }}</td>
            <td>{{ team.team_E }}</td>
            <td>{{ team.team_DP }}</td>
            <td>{{ team.team_FP }}</td>
            <td>{{ team.team_attendance }}</td>
            <td>{{ team.team_BPF }}</td>
            <td>{{ team.team_PPF }}</td>
            <td>{{ team.team_projW }}</td>
            <td>{{ team.team_projL }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <div>
        <h1>Roster</h1>
        <table>
            <tr>
                <th>Player Name</th>
                <th>Position</th>
                <th>At Bats</th>
                <th>Runs</th>
                <th>Hits</th>
                <th>Home Runs</th>
                <th>RBI</th>
                <th>Team ID</th>
            </tr>
            {% set processed_players = [] %}
            {% for player in battingRoster %}
            {% if player.nameFirst not in processed_players %}
            {% set positions = [] %}
            {% for p in battingRoster if p.nameFirst == player.nameFirst %}
            {% set _ = positions.append(p.position) %}
            {% endfor %}
            <tr>
                <td><a href="{{ url_for('player_stats', player_id=player.playerid) }}">{{ player.nameFirst }} {{ player.nameLast }}</a></td>
                <td>{{ positions | join(', ') }}</td>
                <td>{{ player.b_AB }}</td>
                <td>{{ player.b_R }}</td>
                <td>{{ player.b_H }}</td>
                <td>{{ player.b_HR }}</td>
                <td>{{ player.b_RBI }}</td>
                <td>{{ player.teamID }}</td>
            </tr>
            {% set _ = processed_players.append(player.nameFirst) %}
            {% endif %}
            {% endfor %}
        </table>
    </div>
</body>
</html>
