<h1> Search </h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.year.label }} <br>
        {{ form.year(size=32) }}
        {% for error in form.year.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.teamName.label }} <br>
        {{ form.teamName(size = 32) }}
        {% for error in form.teamName.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

