<!DOCTYPE html>
<html>
  {% extends "base.html" %}

  {% block content %}
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Details for the {{year}} {{teamName}}</h2>

<table style="width:100%">
    <tr>
        <th>Team Rank</th>
        <th>Team Wins</th>
        <th>Team Losses</th>
        <th>Manager</th>
        <th>Division</th>
  </tr>
  <tr>
      <td>{{teamRank}}</td>
      <td>{{teamW}}</td>
      <td>{{teamL}}</td>
      <td><a href="http://localhost:5000/details/{{ playerid }}">{{ manager }}</a></td>
      <td><a href="{{ url_for('division', year=year, division=division) }}">{{ division }}</a></td>
  </tr>

</table>

<h3>Pythagorean Projection for {{ teamName }} in {{ year }}: {{ projection }}%</h3>

</body>
{% endblock %}
</html>